@import "node_modules/ol/ol.css";

html, body {
  margin: 0;
  height: 100%;
}
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 78%;
}

.grid-Container{
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 100vh;
}

.sidebar{
  margin-left: 15px;
}